nabers-data-sync/PartialArmTemplates/ArmTemplate_7_1_2020_17_0_55.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "nabers-data-sync"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/01a Create Company In Salesforce')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "createNotFoundCompany",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Update Batch",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[usp_GetCompanyToCreateInSalesForce]",
								"storedProcedureParameters": {
									"batchid": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.pbatch_id",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 5000,
								"writeBehavior": "insert",
								"ignoreNullValues": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Billing_StreetName",
											"type": "String"
										},
										"sink": {
											"name": "BillingStreet",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Billing_Suburb",
											"type": "String"
										},
										"sink": {
											"name": "BillingCity",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Billing_State",
											"type": "String"
										},
										"sink": {
											"name": "BillingState",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Billing_Postcode",
											"type": "String"
										},
										"sink": {
											"name": "BillingPostalCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Mailing_StreetName",
											"type": "String"
										},
										"sink": {
											"name": "ShippingStreet",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Mailing_Suburb",
											"type": "String"
										},
										"sink": {
											"name": "ShippingCity",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Mailing_State",
											"type": "String"
										},
										"sink": {
											"name": "ShippingState",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Mailing_Postcode",
											"type": "String"
										},
										"sink": {
											"name": "ShippingPostalCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Phone",
											"type": "String"
										},
										"sink": {
											"name": "Phone",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CompanyURL",
											"type": "String"
										},
										"sink": {
											"name": "Website",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Type",
											"type": "String"
										},
										"sink": {
											"name": "Company_Record_Type__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ABN",
											"type": "String"
										},
										"sink": {
											"name": "NO_ABN__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PIInsuranceExpiryDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "NO_Professional_Indemnity_Expiry_Date__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "PLInsuranceExpiryDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "NO_Public_Liability_Expiry_Date__c",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "SAPCustomerNo",
											"type": "String"
										},
										"sink": {
											"name": "NO_SAP_Customer_Number__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ShortName",
											"type": "String"
										},
										"sink": {
											"name": "NO_Short_Name__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CompanyName",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Mailing_Country"
										},
										"sink": {
											"name": "ShippingCountry",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Billing_Country"
										},
										"sink": {
											"name": "BillingCountry",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "db_lookup_assessors",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sf_company",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Update Batch",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_LogBatchDetails]",
							"storedProcedureParameters": {
								"batch_id": {
									"value": {
										"value": "@pipeline().parameters.pbatch_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"process_name": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"stage": {
									"value": "In Progress",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "NABERSStaging",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "usp_GetCompany",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "createNotFoundCompany",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[usp_GetCompanyToCreateInSalesForce]",
								"storedProcedureParameters": {
									"batchid": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.pbatch_id",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "db_members_rating",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "forEachRow",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set Variable Rating",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('_vnewBuildingsInSF')",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Lookup Each Building by Name In Salesforce",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SalesforceSource",
											"query": {
												"value": "Select id from Account\nwhere NO_ABN__c = '@{item().ABN}'",
												"type": "Expression"
											},
											"readBehavior": "query"
										},
										"dataset": {
											"referenceName": "sf_company",
											"type": "DatasetReference"
										},
										"firstRowOnly": true
									}
								},
								{
									"name": "UpdateNewSalesforceIdForBuilding",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Lookup Each Building by Name In Salesforce",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[usp_UpdateNewSalesforceIdForCompany]",
										"storedProcedureParameters": {
											"batch_id": {
												"value": {
													"value": "@pipeline().parameters.pbatch_id",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"member_company_id": {
												"value": {
													"value": "@item().CompanyID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"salesforce_company_Id": {
												"value": {
													"value": "@activity('Lookup Each Building by Name In Salesforce').output.firstRow.Id",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "NABERSStaging",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Set Variable Rating",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "usp_GetCompany",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "_vnewBuildingsInSF",
							"value": {
								"value": "@activity('usp_GetCompany').output.value",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"pbatch_id": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"variables": {
					"_defaultCountry": {
						"type": "String",
						"defaultValue": "Australia"
					},
					"_defaultPremiseType": {
						"type": "String",
						"defaultValue": "Shopping Centre"
					},
					"_vnewBuildingsInSF": {
						"type": "Array"
					},
					"_vsf_buildingRecord": {
						"type": "String"
					},
					"_vnewBuildingInSF": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/db_members_rating')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/db_members_rating')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "NABERSStaging",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "staging"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "RatingHeaderID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RatingReferenceNumber",
						"type": "varchar"
					},
					{
						"name": "PremiseTypeID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PremiseType",
						"type": "varchar"
					},
					{
						"name": "PremiseID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PremiseName",
						"type": "varchar"
					},
					{
						"name": "AssessorID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AssessorEmail",
						"type": "varchar"
					},
					{
						"name": "Customer_Name",
						"type": "varchar"
					},
					{
						"name": "Customer_TradingName",
						"type": "varchar"
					},
					{
						"name": "Customer_Mailing_StreeNumber",
						"type": "varchar"
					},
					{
						"name": "Customer_Mailing_StreetName",
						"type": "varchar"
					},
					{
						"name": "Customer_Mailing_Suburb",
						"type": "varchar"
					},
					{
						"name": "Customer_Mailing_Postcode",
						"type": "varchar"
					},
					{
						"name": "Customer_Mailing_State",
						"type": "varchar"
					},
					{
						"name": "RatingPeriodFrom",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "RatingPeriodTo",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "PublicListingFlag",
						"type": "bit"
					},
					{
						"name": "OfficerID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RatingStatusID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RatingStatus",
						"type": "varchar"
					},
					{
						"name": "LodgedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "PaymentStatusID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PaymentStatus",
						"type": "varchar"
					},
					{
						"name": "PaidDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CertificateValidFrom",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CertificateValidTo",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "PremiseNameOnCert",
						"type": "varchar"
					},
					{
						"name": "CustomerNameOnCert",
						"type": "varchar"
					},
					{
						"name": "Certificate_Customer_Email",
						"type": "varchar"
					},
					{
						"name": "LastActionDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ReplaceFlag",
						"type": "bit"
					},
					{
						"name": "RenewFlag",
						"type": "bit"
					},
					{
						"name": "PreviousRatingHeaderID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NewRatingHeaderID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "StreetNumber",
						"type": "varchar"
					},
					{
						"name": "StreetName",
						"type": "varchar"
					},
					{
						"name": "Suburb",
						"type": "varchar"
					},
					{
						"name": "Postcode",
						"type": "varchar"
					},
					{
						"name": "State",
						"type": "varchar"
					},
					{
						"name": "RatingTypes",
						"type": "nvarchar"
					},
					{
						"name": "CinemaTheatres",
						"type": "decimal",
						"precision": 8,
						"scale": 2
					},
					{
						"name": "ShoppingCentreWaterSummaryID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FloorConfiguration",
						"type": "varchar"
					},
					{
						"name": "ParkingSpacesMechanical",
						"type": "decimal",
						"precision": 8,
						"scale": 2
					},
					{
						"name": "ParkingSpacesNatural",
						"type": "decimal",
						"precision": 8,
						"scale": 2
					},
					{
						"name": "TotalGymGLAR",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "FoodCourtSeats",
						"type": "decimal",
						"precision": 8,
						"scale": 2
					},
					{
						"name": "conflictOfInterestFlag",
						"type": "bit"
					},
					{
						"name": "InComplianceWithCurrentRules",
						"type": "bit"
					},
					{
						"name": "WaterStarRatingWRecycle",
						"type": "varchar"
					},
					{
						"name": "WaterStarRatingWoRecycle",
						"type": "varchar"
					},
					{
						"name": "EnergyStarRatingWRecycle",
						"type": "varchar"
					},
					{
						"name": "EnergyStarRatingWoRecycle",
						"type": "varchar"
					},
					{
						"name": "totalEnergyConsumption",
						"type": "decimal",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "WeeklyCoreHoursOfService",
						"type": "decimal",
						"precision": 8,
						"scale": 2
					},
					{
						"name": "TotalElectricityConsumption",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "TotalDieselConsumption",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "WaterConsumption",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "RecycleNormalisedWaterConsumption",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "TotalWaterConsumption",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "TotalRecycledWaterPercent",
						"type": "decimal",
						"precision": 6,
						"scale": 2
					},
					{
						"name": "TotalGasConsumption",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "RatingLodgementFees",
						"type": "decimal",
						"precision": 12,
						"scale": 2
					},
					{
						"name": "PredictedGreenhouseGasIntensity",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "PredictedAverageWaterUse",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "NumberOfTradingDays",
						"type": "decimal",
						"precision": 8,
						"scale": 2
					},
					{
						"name": "NoRecyclePredictedAverageWaterUse",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "NoGreenPowerGHGIntensityScope12",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "NoGreenPowerGHGIntensityScope123",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "NoGreenPowerGHGEmissionsScope12",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "NoGreenPowerGHGEmissionsScope123",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "GreenhouseGasIntensityScope123",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "GreenhouseGasEmissionsScope123",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "EnergyIntensity",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "ExplainWhyNotCompliant",
						"type": "varchar"
					},
					{
						"name": "IsSmallShoppingCentre",
						"type": "bit"
					},
					{
						"name": "batch_id",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "RatingHeaderStage"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/db_transformed_ratings')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "NABERSStaging",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "staging"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "source_rating_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "building_type",
						"type": "varchar"
					},
					{
						"name": "sf_company_id",
						"type": "varchar"
					},
					{
						"name": "sf_building_id",
						"type": "varchar"
					},
					{
						"name": "batch_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sf_rating_id",
						"type": "varchar"
					},
					{
						"name": "sf_assessor_id",
						"type": "varchar"
					},
					{
						"name": "assessor_email",
						"type": "varchar"
					},
					{
						"name": "customer_email",
						"type": "varchar"
					},
					{
						"name": "cert_building_name",
						"type": "varchar"
					},
					{
						"name": "cert_customer_name",
						"type": "varchar"
					},
					{
						"name": "rating_type",
						"type": "varchar"
					},
					{
						"name": "rating_main_purpose",
						"type": "varchar"
					},
					{
						"name": "has_cinema",
						"type": "bit"
					},
					{
						"name": "period_from",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "period_to",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "status",
						"type": "varchar"
					},
					{
						"name": "cert_valid_from",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "cert_valid_to",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "rating_ref_number",
						"type": "varchar"
					},
					{
						"name": "lodged_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "rating_scope",
						"type": "varchar"
					},
					{
						"name": "publicly_listed",
						"type": "bit"
					},
					{
						"name": "sf_officer_id",
						"type": "varchar"
					},
					{
						"name": "last_update_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "renew_replace",
						"type": "varchar"
					},
					{
						"name": "sync_status",
						"type": "varchar"
					},
					{
						"name": "review_summary_page",
						"type": "varchar"
					},
					{
						"name": "using_latest_rules",
						"type": "varchar"
					},
					{
						"name": "rating_information_page",
						"type": "varchar"
					},
					{
						"name": "lodge_rating_page",
						"type": "varchar"
					},
					{
						"name": "rating_details_page",
						"type": "varchar"
					},
					{
						"name": "parking_space_page",
						"type": "varchar"
					},
					{
						"name": "water_page",
						"type": "varchar"
					},
					{
						"name": "has_parking_space",
						"type": "varchar"
					},
					{
						"name": "has_gym",
						"type": "varchar"
					},
					{
						"name": "has_food_court",
						"type": "varchar"
					},
					{
						"name": "conflict_of_interest",
						"type": "varchar"
					},
					{
						"name": "compliant_with_current_rules",
						"type": "varchar"
					},
					{
						"name": "relodged_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "rating_data_complete",
						"type": "varchar"
					},
					{
						"name": "assessor_declaration",
						"type": "varchar"
					},
					{
						"name": "customer_aware_of_star_rating",
						"type": "varchar"
					},
					{
						"name": "water_star_rating_with_recycle",
						"type": "varchar"
					},
					{
						"name": "water_star_rating_without_recycle",
						"type": "varchar"
					},
					{
						"name": "energy_star_rating_with_recycle",
						"type": "varchar"
					},
					{
						"name": "energy_star_rating_without_recycle",
						"type": "varchar"
					},
					{
						"name": "total_energy_consumption",
						"type": "decimal",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "weekly_core_hours_of_Service",
						"type": "decimal",
						"precision": 8,
						"scale": 2
					},
					{
						"name": "total_electricity_consumption",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "total_diesel_consumption",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "water_consumption",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "recycle_normalised_water_consumption",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "total_water_consumption",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "total_recycled_water_percent",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "total_gas_consumption",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "rating_lodgement_fees",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "predicted_greenhouse_gas_intensity",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "predicted_average_water_use",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "number_of_trading_days",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "no_recycle_predicted_average_water_use",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "no_greenpower_ghg_intensity_scope_12",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "no_greenpower_ghg_intensity_scope_123",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "no_greenpower_ghg_emissions_scope_12",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "no_greenpower_ghg_emissions_scope_123",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "greenhouse_gas_intensity_scope_123",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "greenhouse_gas_emissions_scope_123",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "energy_intensity",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "explain_why_not_compliant",
						"type": "varchar"
					},
					{
						"name": "is_small_shopping_centre",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Transformed_Ratings"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/01_Transform_Rating')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "db_members_rating",
								"type": "DatasetReference"
							},
							"name": "getRatings"
						},
						{
							"dataset": {
								"referenceName": "db_lookup_sf_buildings_ids",
								"type": "DatasetReference"
							},
							"name": "getLookupSalesforceBuildings"
						},
						{
							"dataset": {
								"referenceName": "db_lookup_sf_assessors_ids",
								"type": "DatasetReference"
							},
							"name": "getLookupSalesforceAssessors"
						},
						{
							"dataset": {
								"referenceName": "db_lookup_sf_officer_ids",
								"type": "DatasetReference"
							},
							"name": "getLookupSalesforceTechOfficer"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "db_transformed_ratings",
								"type": "DatasetReference"
							},
							"name": "dumpToSFTransofrmedRatings"
						}
					],
					"transformations": [
						{
							"name": "filterBatchRatings"
						},
						{
							"name": "joinLookupSalesforceBuilding"
						},
						{
							"name": "filterSFBuildingByBatch"
						},
						{
							"name": "joinLookupSalesforceAssessors"
						},
						{
							"name": "filterSFAssessorsByBatch"
						},
						{
							"name": "derivedFields"
						},
						{
							"name": "filterSFOfficerByBatch"
						},
						{
							"name": "joinLookupSalesforceUsers"
						}
					],
					"script": "parameters{\n\tpbatch_id as integer (1),\n\tvDefaultComplete as string ('Complete'),\n\tvDefaultYes as string ('Yes')\n}\nsource(output(\n\t\tRatingHeaderID as integer,\n\t\tRatingReferenceNumber as string,\n\t\tPremiseTypeID as integer,\n\t\tPremiseType as string,\n\t\tPremiseID as integer,\n\t\tPremiseName as string,\n\t\tAssessorID as integer,\n\t\tAssessorEmail as string,\n\t\tCustomer_Name as string,\n\t\tCustomer_TradingName as string,\n\t\tCustomer_Mailing_StreeNumber as string,\n\t\tCustomer_Mailing_StreetName as string,\n\t\tCustomer_Mailing_Suburb as string,\n\t\tCustomer_Mailing_Postcode as string,\n\t\tCustomer_Mailing_State as string,\n\t\tRatingPeriodFrom as timestamp,\n\t\tRatingPeriodTo as timestamp,\n\t\tPublicListingFlag as boolean,\n\t\tOfficerID as integer,\n\t\tRatingStatusID as integer,\n\t\tRatingStatus as string,\n\t\tLodgedDate as timestamp,\n\t\tPaymentStatusID as integer,\n\t\tPaymentStatus as string,\n\t\tPaidDate as timestamp,\n\t\tCertificateValidFrom as timestamp,\n\t\tCertificateValidTo as timestamp,\n\t\tPremiseNameOnCert as string,\n\t\tCustomerNameOnCert as string,\n\t\tCertificate_Customer_Email as string,\n\t\tLastActionDate as timestamp,\n\t\tReplaceFlag as boolean,\n\t\tRenewFlag as boolean,\n\t\tPreviousRatingHeaderID as integer,\n\t\tNewRatingHeaderID as integer,\n\t\tStreetNumber as string,\n\t\tStreetName as string,\n\t\tSuburb as string,\n\t\tPostcode as string,\n\t\tState as string,\n\t\tRatingTypes as string,\n\t\tCinemaTheatres as decimal(8,2),\n\t\tShoppingCentreWaterSummaryID as integer,\n\t\tFloorConfiguration as string,\n\t\tParkingSpacesMechanical as decimal(8,2),\n\t\tParkingSpacesNatural as decimal(8,2),\n\t\tTotalGymGLAR as decimal(12,3),\n\t\tFoodCourtSeats as decimal(8,2),\n\t\tconflictOfInterestFlag as boolean,\n\t\tInComplianceWithCurrentRules as boolean,\n\t\tWaterStarRatingWRecycle as string,\n\t\tWaterStarRatingWoRecycle as string,\n\t\tEnergyStarRatingWRecycle as string,\n\t\tEnergyStarRatingWoRecycle as string,\n\t\ttotalEnergyConsumption as decimal(19,4),\n\t\tWeeklyCoreHoursOfService as decimal(8,2),\n\t\tTotalElectricityConsumption as decimal(12,3),\n\t\tTotalDieselConsumption as decimal(12,3),\n\t\tWaterConsumption as decimal(12,3),\n\t\tRecycleNormalisedWaterConsumption as decimal(12,3),\n\t\tTotalWaterConsumption as decimal(12,3),\n\t\tTotalRecycledWaterPercent as decimal(6,2),\n\t\tTotalGasConsumption as decimal(12,3),\n\t\tRatingLodgementFees as decimal(12,2),\n\t\tPredictedGreenhouseGasIntensity as decimal(12,3),\n\t\tPredictedAverageWaterUse as decimal(12,3),\n\t\tNumberOfTradingDays as decimal(8,2),\n\t\tNoRecyclePredictedAverageWaterUse as decimal(12,3),\n\t\tNoGreenPowerGHGIntensityScope12 as decimal(12,3),\n\t\tNoGreenPowerGHGIntensityScope123 as decimal(12,3),\n\t\tNoGreenPowerGHGEmissionsScope12 as decimal(12,3),\n\t\tNoGreenPowerGHGEmissionsScope123 as decimal(12,3),\n\t\tGreenhouseGasIntensityScope123 as decimal(12,3),\n\t\tGreenhouseGasEmissionsScope123 as decimal(12,3),\n\t\tEnergyIntensity as decimal(12,3),\n\t\tExplainWhyNotCompliant as string,\n\t\tIsSmallShoppingCentre as boolean,\n\t\tbatch_id as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_COMMITTED',\n\tformat: 'table') ~> getRatings\nsource(output(\n\t\tid as integer,\n\t\tsalesforce_building_Id as string,\n\t\tbatch_id as integer,\n\t\tcreated_on as timestamp,\n\t\tmember_premise_id as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> getLookupSalesforceBuildings\nsource(output(\n\t\tid as integer,\n\t\tsalesforce_assessor_Id as string,\n\t\tbatch_id as integer,\n\t\tcreated_on as timestamp,\n\t\tmember_assessor_id as integer,\n\t\tsalesforce_company_id as string,\n\t\tmember_company_id as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> getLookupSalesforceAssessors\nsource(output(\n\t\tid as integer,\n\t\tsalesforce_user_Id as string,\n\t\tmember_officer_id as integer,\n\t\tbatch_id as integer,\n\t\tcreated_on as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> getLookupSalesforceTechOfficer\ngetRatings filter(equals(batch_id, $pbatch_id)) ~> filterBatchRatings\njoinLookupSalesforceAssessors, filterSFBuildingByBatch join(PremiseID == member_premise_id,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> joinLookupSalesforceBuilding\ngetLookupSalesforceBuildings filter(equals(batch_id,  $pbatch_id)) ~> filterSFBuildingByBatch\nderivedFields, filterSFAssessorsByBatch join(AssessorID == member_assessor_id,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> joinLookupSalesforceAssessors\ngetLookupSalesforceAssessors filter(equals(batch_id,  $pbatch_id)) ~> filterSFAssessorsByBatch\nfilterBatchRatings derive(D_Rating_Scope = iif(equalsIgnoreCase(PremiseType, 'shopping centre'), 'Not applicable', ''),\n\t\tD_Main_Purpose_Of_Rating = iif(equalsIgnoreCase(PremiseName, 'shopping centre'), 'None of the above (NABERS voluntary rating)', ''),\n\t\tD_Renew_Replace = iif(!isNull(RenewFlag) || !isNull(ReplaceFlag), \r\niif(RenewFlag, 'Renew', iif(ReplaceFlag, 'Replace', '')),''),\n\t\tD_Review_Summary_Page = $vDefaultComplete,\n\t\tD_Using_Latest_Rules = $vDefaultYes,\n\t\tD_Rating_Information_Page = $vDefaultComplete,\n\t\tD_Lodge_Rating_Page = $vDefaultComplete,\n\t\tD_Rating_Details_Page = $vDefaultComplete,\n\t\tD_Parking_Space_Page = $vDefaultComplete,\n\t\tD_HasCinemas = CinemaTheatres > 0,\n\t\tD_WaterPageComplete = iif(isNull(ShoppingCentreWaterSummaryID), '', $vDefaultComplete),\n\t\tD_HasParkingSpace = ParkingSpacesMechanical + ParkingSpacesNatural > 0,\n\t\tD_HasGym = TotalGymGLAR > 0,\n\t\tD_HasFoodCourt = FoodCourtSeats > 0,\n\t\tD_ConflictOfInterest = iif(isNull(conflictOfInterestFlag) , false(), conflictOfInterestFlag),\n\t\tD_CompliantWithCurrentRules = iif(isNull(InComplianceWithCurrentRules) , false(), InComplianceWithCurrentRules),\n\t\tD_RelodgedDate = LodgedDate,\n\t\tD_RatingDataCompleteFlag = $vDefaultYes,\n\t\tD_AssessorDeclaration = $vDefaultYes,\n\t\tD_CustomerAwareOfStarRating = $vDefaultYes) ~> derivedFields\ngetLookupSalesforceTechOfficer filter(equals(batch_id, $pbatch_id)) ~> filterSFOfficerByBatch\njoinLookupSalesforceBuilding, filterSFOfficerByBatch join(OfficerID == member_officer_id,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> joinLookupSalesforceUsers\njoinLookupSalesforceUsers sink(input(\n\t\tid as integer,\n\t\tsource_rating_id as integer,\n\t\tbuilding_type as string,\n\t\tsf_company_id as string,\n\t\tsf_building_id as string,\n\t\tbatch_id as integer,\n\t\tsf_rating_id as string,\n\t\tsf_assessor_id as string,\n\t\tassessor_email as string,\n\t\tcustomer_email as string,\n\t\tcert_building_name as string,\n\t\tcert_customer_name as string,\n\t\trating_type as string,\n\t\trating_main_purpose as string,\n\t\thas_cinema as boolean,\n\t\tperiod_from as timestamp,\n\t\tperiod_to as timestamp,\n\t\tstatus as string,\n\t\tcert_valid_from as timestamp,\n\t\tcert_valid_to as timestamp,\n\t\trating_ref_number as string,\n\t\tlodged_date as timestamp,\n\t\trating_scope as string,\n\t\tpublicly_listed as boolean,\n\t\tsf_officer_id as string,\n\t\tlast_update_date as timestamp,\n\t\trenew_replace as string,\n\t\tsync_status as string,\n\t\treview_summary_page as string,\n\t\tusing_latest_rules as string,\n\t\trating_information_page as string,\n\t\tlodge_rating_page as string,\n\t\trating_details_page as string,\n\t\tparking_space_page as string,\n\t\twater_page as string,\n\t\thas_parking_space as string,\n\t\thas_gym as string,\n\t\thas_food_court as string,\n\t\tconflict_of_interest as string,\n\t\tcompliant_with_current_rules as string,\n\t\trelodged_date as timestamp,\n\t\trating_data_complete as string,\n\t\tassessor_declaration as string,\n\t\tcustomer_aware_of_star_rating as string,\n\t\twater_star_rating_with_recycle as string,\n\t\twater_star_rating_without_recycle as string,\n\t\tenergy_star_rating_with_recycle as string,\n\t\tenergy_star_rating_without_recycle as string,\n\t\ttotal_energy_consumption as decimal(19,4),\n\t\tweekly_core_hours_of_Service as decimal(8,2),\n\t\ttotal_electricity_consumption as decimal(12,3),\n\t\ttotal_diesel_consumption as decimal(12,3),\n\t\twater_consumption as decimal(12,3),\n\t\trecycle_normalised_water_consumption as decimal(12,3),\n\t\ttotal_water_consumption as decimal(12,3),\n\t\ttotal_recycled_water_percent as decimal(12,3),\n\t\ttotal_gas_consumption as decimal(12,3),\n\t\trating_lodgement_fees as decimal(12,3),\n\t\tpredicted_greenhouse_gas_intensity as decimal(12,3),\n\t\tpredicted_average_water_use as decimal(12,3),\n\t\tnumber_of_trading_days as decimal(12,3),\n\t\tno_recycle_predicted_average_water_use as decimal(12,3),\n\t\tno_greenpower_ghg_intensity_scope_12 as decimal(12,3),\n\t\tno_greenpower_ghg_intensity_scope_123 as decimal(12,3),\n\t\tno_greenpower_ghg_emissions_scope_12 as decimal(12,3),\n\t\tno_greenpower_ghg_emissions_scope_123 as decimal(12,3),\n\t\tgreenhouse_gas_intensity_scope_123 as decimal(12,3),\n\t\tgreenhouse_gas_emissions_scope_123 as decimal(12,3),\n\t\tenergy_intensity as decimal(12,3),\n\t\texplain_why_not_compliant as string,\n\t\tis_small_shopping_centre as boolean\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tsource_rating_id = RatingHeaderID,\n\t\tbuilding_type = PremiseType,\n\t\tsf_building_id = salesforce_building_Id,\n\t\tbatch_id = getRatings@batch_id,\n\t\tsf_assessor_id = salesforce_assessor_Id,\n\t\tassessor_email = AssessorEmail,\n\t\tcustomer_email = Certificate_Customer_Email,\n\t\tcert_building_name = PremiseNameOnCert,\n\t\tcert_customer_name = CustomerNameOnCert,\n\t\tstatus = RatingStatus,\n\t\tperiod_from = RatingPeriodFrom,\n\t\tperiod_to = RatingPeriodTo,\n\t\tcert_valid_from = CertificateValidFrom,\n\t\tcert_valid_to = CertificateValidTo,\n\t\thas_cinema = D_HasCinemas,\n\t\trating_type = RatingTypes,\n\t\trating_main_purpose = D_Main_Purpose_Of_Rating,\n\t\trating_ref_number = RatingReferenceNumber,\n\t\tlodged_date = LodgedDate,\n\t\trating_scope = D_Rating_Scope,\n\t\tpublicly_listed = PublicListingFlag,\n\t\tsf_officer_id = salesforce_user_Id,\n\t\tsf_company_id = salesforce_company_id,\n\t\tlast_update_date = LastActionDate,\n\t\trenew_replace = D_Renew_Replace,\n\t\treview_summary_page = D_Review_Summary_Page,\n\t\tusing_latest_rules = D_Using_Latest_Rules,\n\t\trating_information_page = D_Rating_Information_Page,\n\t\tlodge_rating_page = D_Lodge_Rating_Page,\n\t\trating_details_page = D_Rating_Details_Page,\n\t\tparking_space_page = D_Parking_Space_Page,\n\t\twater_star_rating_with_recycle = D_WaterPageComplete,\n\t\thas_parking_space = D_HasParkingSpace,\n\t\thas_gym = D_HasGym,\n\t\thas_food_court = D_HasFoodCourt,\n\t\tconflict_of_interest = D_ConflictOfInterest,\n\t\tcompliant_with_current_rules = D_CompliantWithCurrentRules,\n\t\trelodged_date = D_RelodgedDate,\n\t\trating_data_complete = D_RatingDataCompleteFlag,\n\t\tassessor_declaration = D_AssessorDeclaration,\n\t\tcustomer_aware_of_star_rating = D_CustomerAwareOfStarRating,\n\t\twater_star_rating_with_recycle = WaterStarRatingWRecycle,\n\t\twater_star_rating_without_recycle = WaterStarRatingWoRecycle,\n\t\tenergy_star_rating_with_recycle = EnergyStarRatingWRecycle,\n\t\tenergy_star_rating_without_recycle = EnergyStarRatingWoRecycle,\n\t\ttotal_energy_consumption = totalEnergyConsumption,\n\t\tweekly_core_hours_of_Service = WeeklyCoreHoursOfService,\n\t\ttotal_electricity_consumption = TotalElectricityConsumption,\n\t\ttotal_diesel_consumption = TotalDieselConsumption,\n\t\twater_consumption = WaterConsumption,\n\t\trecycle_normalised_water_consumption = RecycleNormalisedWaterConsumption,\n\t\ttotal_water_consumption = TotalWaterConsumption,\n\t\ttotal_recycled_water_percent = TotalRecycledWaterPercent,\n\t\ttotal_gas_consumption = TotalGasConsumption,\n\t\trating_lodgement_fees = RatingLodgementFees,\n\t\tpredicted_greenhouse_gas_intensity = PredictedGreenhouseGasIntensity,\n\t\tpredicted_average_water_use = PredictedAverageWaterUse,\n\t\tno_recycle_predicted_average_water_use = NoRecyclePredictedAverageWaterUse,\n\t\tnumber_of_trading_days = NumberOfTradingDays,\n\t\tno_greenpower_ghg_intensity_scope_12 = NoGreenPowerGHGIntensityScope12,\n\t\tno_greenpower_ghg_intensity_scope_123 = NoGreenPowerGHGIntensityScope123,\n\t\tno_greenpower_ghg_emissions_scope_12 = NoGreenPowerGHGEmissionsScope12,\n\t\tno_greenpower_ghg_emissions_scope_123 = NoGreenPowerGHGEmissionsScope123,\n\t\tgreenhouse_gas_intensity_scope_123 = GreenhouseGasIntensityScope123,\n\t\tgreenhouse_gas_emissions_scope_123 = GreenhouseGasEmissionsScope123,\n\t\tenergy_intensity = EnergyIntensity,\n\t\texplain_why_not_compliant = ExplainWhyNotCompliant,\n\t\tis_small_shopping_centre = IsSmallShoppingCentre\n\t),\n\tskipDuplicateMapOutputs: true) ~> dumpToSFTransofrmedRatings"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/db_members_rating')]",
				"[concat(variables('factoryId'), '/datasets/db_transformed_ratings')]"
			]
		}
	]
}