nabers-data-sync/PartialArmTemplates/ArmTemplate_6_29_2020_9_12_55.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "nabers-data-sync"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/02 Create Ratings')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Update Batch",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_LogBatchDetails]",
							"storedProcedureParameters": {
								"batch_id": {
									"value": {
										"value": "@pipeline().parameters.pbatch_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"process_name": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"stage": {
									"value": "In Progress",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "NABERSStaging",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "createRating",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Update Batch",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[usp_GetTransformedRatings]",
								"storedProcedureParameters": {
									"batchid": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.pbatch_id",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 5000,
								"writeBehavior": "insert",
								"ignoreNullValues": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "building_type",
											"type": "String"
										},
										"sink": {
											"name": "Building_Type__c",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "source_rating_id"
										},
										"sink": {
											"name": "NO_Member_Rating_Id__c"
										}
									},
									{
										"source": {
											"name": "assessor_email"
										},
										"sink": {
											"name": "Assessor_Email__c"
										}
									},
									{
										"source": {
											"name": "customer_email"
										},
										"sink": {
											"name": "Customer_Email__c"
										}
									},
									{
										"source": {
											"name": "cert_building_name"
										},
										"sink": {
											"name": "Building_Name_On_Certificate__c"
										}
									},
									{
										"source": {
											"name": "cert_customer_name"
										},
										"sink": {
											"name": "Customer_Name_On_Certificate__c"
										}
									},
									{
										"source": {
											"name": "cert_valid_from"
										},
										"sink": {
											"name": "Valid_From_Date__c"
										}
									},
									{
										"source": {
											"name": "cert_valid_to"
										},
										"sink": {
											"name": "Valid_To_Date__c"
										}
									},
									{
										"source": {
											"name": "status"
										},
										"sink": {
											"name": "Status__c"
										}
									},
									{
										"source": {
											"name": "period_from"
										},
										"sink": {
											"name": "Rating_Start_Date__c"
										}
									},
									{
										"source": {
											"name": "has_cinema"
										},
										"sink": {
											"name": "hasCinema__c"
										}
									},
									{
										"source": {
											"name": "rating_ref_number"
										},
										"sink": {
											"name": "NO_Member_Rating_Ref_Number__c"
										}
									},
									{
										"source": {
											"name": "lodged_date"
										},
										"sink": {
											"name": "Lodge_Date__c"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "db_transformed_ratings",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sf_Ratings",
								"type": "DatasetReference"
							}
						]
					}
				],
				"parameters": {
					"pbatch_id": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/db_transformed_ratings')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/db_transformed_ratings')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "NABERSStaging",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "staging"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "source_rating_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "building_type",
						"type": "varchar"
					},
					{
						"name": "sf_company_id",
						"type": "varchar"
					},
					{
						"name": "sf_building_id",
						"type": "varchar"
					},
					{
						"name": "batch_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sf_rating_id",
						"type": "varchar"
					},
					{
						"name": "sf_assessor_id",
						"type": "varchar"
					},
					{
						"name": "assessor_email",
						"type": "varchar"
					},
					{
						"name": "customer_email",
						"type": "varchar"
					},
					{
						"name": "cert_building_name",
						"type": "varchar"
					},
					{
						"name": "cert_customer_name",
						"type": "varchar"
					},
					{
						"name": "rating_type",
						"type": "varchar"
					},
					{
						"name": "rating_main_purpose",
						"type": "varchar"
					},
					{
						"name": "has_cinema",
						"type": "bit"
					},
					{
						"name": "period_from",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "period_to",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "status",
						"type": "varchar"
					},
					{
						"name": "cert_valid_from",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "cert_valid_to",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "rating_ref_number",
						"type": "varchar"
					},
					{
						"name": "lodged_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Transformed_Ratings"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/01_Transform_Rating')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "db_members_rating",
								"type": "DatasetReference"
							},
							"name": "getRatings"
						},
						{
							"dataset": {
								"referenceName": "db_lookup_sf_buildings_ids",
								"type": "DatasetReference"
							},
							"name": "getLookupSalesforceBuildings"
						},
						{
							"dataset": {
								"referenceName": "db_lookup_sf_assessors_ids",
								"type": "DatasetReference"
							},
							"name": "getLookupSalesforceAssessors"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "db_transformed_ratings",
								"type": "DatasetReference"
							},
							"name": "dumpToSFTransofrmedRatings"
						}
					],
					"transformations": [
						{
							"name": "filterBatchRatings"
						},
						{
							"name": "joiningAllSets"
						},
						{
							"name": "filterSFBuildingByBatch"
						},
						{
							"name": "joinLookupSalesforceAssessors"
						},
						{
							"name": "filterSFAssessorsByBatch"
						}
					],
					"script": "parameters{\n\tpbatch_id as integer (1)\n}\nsource(output(\n\t\tRatingHeaderID as integer,\n\t\tRatingReferenceNumber as string,\n\t\tPremiseTypeID as integer,\n\t\tPremiseType as string,\n\t\tPremiseID as integer,\n\t\tPremiseName as string,\n\t\tAssessorID as integer,\n\t\tAssessor_firstname as string,\n\t\tAssessor_lastname as string,\n\t\tAssessorEmail as string,\n\t\tCustomer_Name as string,\n\t\tCustomer_TradingName as string,\n\t\tCustomer_Mailing_StreeNumber as string,\n\t\tCustomer_Mailing_StreetName as string,\n\t\tCustomer_Mailing_Suburb as string,\n\t\tCustomer_Mailing_Postcode as string,\n\t\tCustomer_Mailing_State as string,\n\t\tRatingPeriodFrom as timestamp,\n\t\tRatingPeriodTo as timestamp,\n\t\tPublicListingFlag as boolean,\n\t\tOfficerID as integer,\n\t\tOfficer as string,\n\t\tRatingStatusID as integer,\n\t\tRatingStatus as string,\n\t\tLodgedDate as timestamp,\n\t\tPaymentStatusID as integer,\n\t\tPaymentStatus as string,\n\t\tPaidDate as timestamp,\n\t\tCertificateValidFrom as timestamp,\n\t\tCertificateValidTo as timestamp,\n\t\tPremiseNameOnCert as string,\n\t\tCustomerNameOnCert as string,\n\t\tCertificate_Customer_Email as string,\n\t\tReplaceFlag as boolean,\n\t\tRenewFlag as boolean,\n\t\tPreviousRatingHeaderID as integer,\n\t\tNewRatingHeaderID as integer,\n\t\tStreetNumber as string,\n\t\tStreetName as string,\n\t\tSuburb as string,\n\t\tPostcode as string,\n\t\tState as string,\n\t\tbatch_id as integer,\n\t\tRatingTypes as string,\n\t\tRatingMainPurpose as string,\n\t\tHasCinema as boolean\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_COMMITTED',\n\tformat: 'table') ~> getRatings\nsource(output(\n\t\tid as integer,\n\t\tsalesforce_building_Id as string,\n\t\tbatch_id as integer,\n\t\tcreated_on as timestamp,\n\t\tmember_premise_id as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> getLookupSalesforceBuildings\nsource(output(\n\t\tid as integer,\n\t\tsalesforce_assessor_Id as string,\n\t\tbatch_id as integer,\n\t\tcreated_on as timestamp,\n\t\tmember_assessor_id as integer,\n\t\tsalesforce_company_id as string,\n\t\tmember_company_id as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> getLookupSalesforceAssessors\ngetRatings filter(equals(batch_id, $pbatch_id)) ~> filterBatchRatings\njoinLookupSalesforceAssessors, filterSFBuildingByBatch join(PremiseID == member_premise_id,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> joiningAllSets\ngetLookupSalesforceBuildings filter(equals(batch_id,  $pbatch_id)) ~> filterSFBuildingByBatch\nfilterBatchRatings, filterSFAssessorsByBatch join(AssessorID == member_assessor_id,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> joinLookupSalesforceAssessors\ngetLookupSalesforceAssessors filter(equals(batch_id,  $pbatch_id)) ~> filterSFAssessorsByBatch\njoiningAllSets sink(input(\n\t\tid as integer,\n\t\tsource_rating_id as integer,\n\t\tbuilding_type as string,\n\t\tsf_company_id as string,\n\t\tsf_building_id as string,\n\t\tbatch_id as integer,\n\t\tsf_rating_id as string,\n\t\tsf_assessor_id as string,\n\t\tassessor_email as string,\n\t\tcustomer_email as string,\n\t\tcert_building_name as string,\n\t\tcert_customer_name as string,\n\t\trating_type as string,\n\t\trating_main_purpose as string,\n\t\thas_cinema as boolean,\n\t\tperiod_from as timestamp,\n\t\tperiod_to as timestamp,\n\t\tstatus as string,\n\t\tcert_valid_from as timestamp,\n\t\tcert_valid_to as timestamp,\n\t\trating_ref_number as string,\n\t\tlodged_date as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tsource_rating_id = RatingHeaderID,\n\t\tbuilding_type = PremiseType,\n\t\tsf_building_id = salesforce_building_Id,\n\t\tbatch_id = getRatings@batch_id,\n\t\tsf_assessor_id = salesforce_assessor_Id,\n\t\tassessor_email = AssessorEmail,\n\t\tcustomer_email = Certificate_Customer_Email,\n\t\tcert_building_name = PremiseNameOnCert,\n\t\tcert_customer_name = CustomerNameOnCert,\n\t\tstatus = RatingStatus,\n\t\tperiod_from = RatingPeriodFrom,\n\t\tperiod_to = RatingPeriodTo,\n\t\tcert_valid_from = CertificateValidFrom,\n\t\tcert_valid_to = CertificateValidTo,\n\t\thas_cinema = HasCinema,\n\t\trating_type = RatingTypes,\n\t\trating_main_purpose = RatingMainPurpose,\n\t\trating_ref_number = RatingReferenceNumber,\n\t\tlodged_date = LodgedDate\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> dumpToSFTransofrmedRatings"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/db_transformed_ratings')]"
			]
		}
	]
}