factorydata/pipeline/00 Start Batch.json
{
	"name": "00 Start Batch",
	"properties": {
		"activities": [
			{
				"name": "usp_StartBatch",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_StartBatch]",
						"storedProcedureParameters": {
							"process_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "db_members_rating",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Batch Id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "usp_StartBatch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vbatch_id",
					"value": {
						"value": "@string(activity('usp_StartBatch').output.firstRow.NewBatchId)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "01 Pull From Staging",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Batch Id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "01 Pull Members Data",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pbatch_id": {
							"value": "@activity('usp_StartBatch').output.firstRow.NewBatchId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "02 Transform Ratings",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "01a Create Building",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "01d Create Assessors",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "01c Create Customer Contact",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "01a Transform Hours of Service",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Stored procedure1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "02 Transform Ratings",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pbatch_id": {
							"value": "@variables('vbatch_id')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "01a Create Building",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "01 Pull From Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "01a Create Building In Salesforce",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pbatch_id": {
							"value": "@variables('vbatch_id')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "03 Create Ratings",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "02 Transform Ratings",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "03 Create Ratings",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pbatch_id": {
							"value": "@variables('vbatch_id')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "03a Junction Building Rating",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "03 Create Ratings",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "03a Junction Building Rating",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pbatch_id": {
							"value": "@variables('vbatch_id')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "01d Create Assessors",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "01c Transform Company Assessor",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "01d Create Assessors In Salesforce",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pbatch_id": {
							"value": "@variables('vbatch_id')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "01b Create Company",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "01a Transform Country in master entities",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "01b Create Assessors Company In Salesforce",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pbatch_id": {
							"value": "@variables('vbatch_id')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "01c Transform Company Assessor",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "01b Create Company",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "01c Transform Company Assessors",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pbatch_id": {
							"value": "@variables('vbatch_id')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "01a Transform Country in master entities",
				"description": "Placeholder for missing mailing and billing country",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "01 Pull From Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "01b Transform Country in master entities",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pbatch_id": {
							"value": "@variables('vbatch_id')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "01b Create Customers",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "01a Transform Country in master entities",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "01b Create Customer In Salesforce",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pbatch_id": {
							"value": "@variables('vbatch_id')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "01c Create Customer Contact",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "01b Create Customers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "01c Create Customer Contact In Salesforce",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pbatch_id": {
							"value": "@variables('vbatch_id')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "01a Transform Hours of Service",
				"description": "",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "01 Pull From Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "01a Transform Rating Attributes",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pbatch_id": {
							"value": "@variables('vbatch_id')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Data Consumption",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "01 Pull From Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "dbo.usp_FormulateConsumption"
				},
				"linkedServiceName": {
					"referenceName": "NABERSStaging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "01 Pull From Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_FormulateConsumption]",
					"storedProcedureParameters": {
						"batch_id": {
							"value": {
								"value": "@variables('vbatch_id')",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "NABERSStaging",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"vbatch_id": {
				"type": "String",
				"defaultValue": "1"
			}
		},
		"annotations": []
	}
}