factorydata/pipeline/01 Pull Members Data.json
{
	"name": "MemberSource",
	"properties": {
		"activities": [
			{
				"name": "forEachRow",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "usp_GetRating",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('usp_GetRating').output",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "forEachBuildingInMembers",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SalesforceSource",
									"query": {
										"value": "Select \nid \nfrom NO_Building__c\nwhere \nIsDeleted = false\nand Name = '@item().PremiseName'",
										"type": "Expression"
									},
									"readBehavior": "query"
								},
								"dataset": {
									"referenceName": "sfBuildings",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "ifBuildingExists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "forEachBuildingInMembers",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@empty(activity('forEachBuildingInMembers').output.id)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "insertPremiseDetails",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[usp_InsertLookupPremiseData]",
											"storedProcedureParameters": {
												"batch_id": {
													"value": "1",
													"type": "Int32"
												},
												"member_premise_id": {
													"value": {
														"value": "@activity('forEachBuildingInMembers').output.premiseid",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"name": {
													"value": {
														"value": "@activity('forEachBuildingInMembers').output.premisename",
														"type": "Expression"
													},
													"type": "String"
												},
												"postcode": {
													"value": "",
													"type": "String"
												},
												"salesforcebuildingId": {
													"value": "",
													"type": "String"
												},
												"state": {
													"value": "",
													"type": "String"
												},
												"streetname": {
													"value": "",
													"type": "String"
												},
												"streetnumber": {
													"value": "",
													"type": "String"
												},
												"suburb": {
													"value": "",
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "NABERSStaging",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "exec createBuilding pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "forEachRow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "createBulding",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "usp_GetRating",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_GetRating]",
					"storedProcedureParameters": {
						"batchid": {
							"value": "",
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "NABERSStaging",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}