factorydata/pipeline/01a Create Assessors In Salesforce.json
{
	"name": "01a Create Assessors In Salesforce",
	"properties": {
		"activities": [
			{
				"name": "createNotFoundAssessors",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Update Batch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_GetAssessorToCreateInSalesForce]",
						"storedProcedureParameters": {
							"batchid": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.pbatch_id",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "SalesforceSink",
						"writeBatchSize": 5000,
						"writeBehavior": "insert",
						"ignoreNullValues": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "LastName",
									"type": "String"
								},
								"sink": {
									"name": "LastName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "FirstName",
									"type": "String"
								},
								"sink": {
									"name": "FirstName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Billing_StreetName",
									"type": "String"
								},
								"sink": {
									"name": "OtherStreet",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Billing_Suburb",
									"type": "String"
								},
								"sink": {
									"name": "OtherCity",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Billing_State",
									"type": "String"
								},
								"sink": {
									"name": "OtherState",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Billing_Postcode",
									"type": "String"
								},
								"sink": {
									"name": "OtherPostalCode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Billing_Country",
									"type": "String"
								},
								"sink": {
									"name": "OtherCountry",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Mailing_StreetName",
									"type": "String"
								},
								"sink": {
									"name": "MailingStreet",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Mailing_Suburb",
									"type": "String"
								},
								"sink": {
									"name": "MailingCity",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Mailing_State",
									"type": "String"
								},
								"sink": {
									"name": "MailingState",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Mailing_Postcode",
									"type": "String"
								},
								"sink": {
									"name": "MailingPostalCode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Mailing_Country",
									"type": "String"
								},
								"sink": {
									"name": "MailingCountry",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Phone",
									"type": "String"
								},
								"sink": {
									"name": "Phone",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Email",
									"type": "String"
								},
								"sink": {
									"name": "Email",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Title",
									"type": "String"
								},
								"sink": {
									"name": "Title",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "AccreditationExpiryDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "NO_Accreditation_Expiry_Date__c",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "AccreditationNumber",
									"type": "String"
								},
								"sink": {
									"name": "NO_Accreditation_Number__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "JoinedDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "NO_Join_date__c",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "RatingTypes"
								},
								"sink": {
									"name": "NO_Rating_Types__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Regional"
								},
								"sink": {
									"name": "NO_Regional__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Metropolitan"
								},
								"sink": {
									"name": "NO_Metropolitan__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Accredition"
								},
								"sink": {
									"name": "NO_Accreditation__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "member_assessor_id",
									"type": "Int32"
								},
								"sink": {
									"name": "NO_Id_In_Member__c"
								}
							},
							{
								"source": {
									"name": "salesforce_company_id"
								},
								"sink": {
									"name": "AccountId "
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "db_lookup_assessors",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sf_contacts",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Update Batch",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogBatchDetails]",
					"storedProcedureParameters": {
						"batch_id": {
							"value": {
								"value": "@pipeline().parameters.pbatch_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"process_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"stage": {
							"value": "In Progress",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "NABERSStaging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "usp_GetSalesforce",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "createNotFoundAssessors",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_GetAssessorToCreateInSalesForce]",
						"storedProcedureParameters": {
							"batchid": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.pbatch_id",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "db_members_rating",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "forEachRow",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set Variable Rating",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('_vnewBuildingsInSF')",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Lookup Each Building by Name In Salesforce",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SalesforceSource",
									"query": {
										"value": "Select id from Contact\nwhere NO_Id_In_Member__c = @{item().member_assessor_id}",
										"type": "Expression"
									},
									"readBehavior": "query"
								},
								"dataset": {
									"referenceName": "sf_contacts",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "UpdateNewSalesforceIdForBuilding",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Lookup Each Building by Name In Salesforce",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_UpdateNewSalesforceIdForAssessor]",
								"storedProcedureParameters": {
									"batch_id": {
										"value": {
											"value": "@pipeline().parameters.pbatch_id",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"member_assessor_id": {
										"value": {
											"value": "@item().member_assessor_id",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"salesforce_assessor_Id": {
										"value": {
											"value": "@activity('Lookup Each Building by Name In Salesforce').output.value[0].Id",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "NABERSStaging",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Set Variable Rating",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "usp_GetSalesforce",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "_vnewBuildingsInSF",
					"value": {
						"value": "@activity('usp_GetSalesforce').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"pbatch_id": {
				"type": "int",
				"defaultValue": 1
			}
		},
		"variables": {
			"_defaultCountry": {
				"type": "String",
				"defaultValue": "Australia"
			},
			"_defaultPremiseType": {
				"type": "String",
				"defaultValue": "Shopping Centre"
			},
			"_vnewBuildingsInSF": {
				"type": "Array"
			},
			"_vsf_buildingRecord": {
				"type": "String"
			},
			"_vnewBuildingInSF": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}