factorydata/pipeline/01a Create Building.json
{
	"name": "01a Create Building",
	"properties": {
		"activities": [
			{
				"name": "createNotFoundBuilding",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Update Batch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_GetBuildingToCreateInSalesForce]",
						"storedProcedureParameters": {
							"batchid": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.pbatch_id",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "SalesforceSink",
						"writeBatchSize": 5000,
						"writeBehavior": "insert",
						"ignoreNullValues": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "name",
									"type": "String"
								},
								"sink": {
									"name": "Name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "postcode",
									"type": "String"
								},
								"sink": {
									"name": "Postcode__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "state",
									"type": "String"
								},
								"sink": {
									"name": "State__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "streetname",
									"type": "String"
								},
								"sink": {
									"name": "Street_Name__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "streetnumber",
									"type": "String"
								},
								"sink": {
									"name": "Street_Number__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "suburb",
									"type": "String"
								},
								"sink": {
									"name": "Suburb__c",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "SalesForceBuildingIds",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sfBuildings",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Update Batch",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogBatchDetails]",
					"storedProcedureParameters": {
						"batch_id": {
							"value": {
								"value": "@pipeline().parameters.pbatch_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"process_name": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"stage": {
							"value": "'In Progress'",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "NABERSStaging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "usp_GetSalesforce",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "createNotFoundBuilding",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_GetBuildingToCreateInSalesForce]",
						"storedProcedureParameters": {
							"batchid": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.pbatch_id",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "RatingHeader",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "forEachRow",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "usp_GetSalesforce",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('_vnewBuildingsInSF')",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Lookup Each Building by Name In Salesforce",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Set variable _vsf_buildingRecord",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SalesforceSource",
									"query": {
										"value": "Select id from NO_Building__c where IsDeleted = False and Postcode__c = '@item().Postcode' and State__c = '@item().State' and Suburb__c = '@item().Suburb' and Street_Number__c = '@item().StreetNumber' and Street_Name__c = '@item().StreetName' and State__c = '@item.State' and Name = '@item().PremiseName'",
										"type": "Expression"
									},
									"readBehavior": "query"
								},
								"dataset": {
									"referenceName": "sfBuildings",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "If Building In Salesforce Exist",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set Variable _sf_buildingRecord",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(length(variables('_vsf_buildingRecord')), 0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "insertPremiseDetails",
										"description": "Building does not exist",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[usp_InsertLookupPremiseData]",
											"storedProcedureParameters": {
												"batch_id": {
													"value": {
														"value": "@pipeline().parameters.pbatch_id",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"member_premise_id": {
													"value": {
														"value": "@variables('_vcurrentRatingItem')[0].PremiseID",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"name": {
													"value": {
														"value": "@variables('_vcurrentRatingItem')[0].PremiseName",
														"type": "Expression"
													},
													"type": "String"
												},
												"postcode": {
													"value": {
														"value": "@variables('_vcurrentRatingItem')[0].Postcode",
														"type": "Expression"
													},
													"type": "String"
												},
												"salesforcebuildingId": {
													"value": "",
													"type": "String"
												},
												"state": {
													"value": {
														"value": "@variables('_vcurrentRatingItem')[0].State",
														"type": "Expression"
													},
													"type": "String"
												},
												"streetname": {
													"value": {
														"value": "@variables('_vcurrentRatingItem')[0].StreetName",
														"type": "Expression"
													},
													"type": "String"
												},
												"streetnumber": {
													"value": {
														"value": "@variables('_vcurrentRatingItem')[0].StreetNumber",
														"type": "Expression"
													},
													"type": "String"
												},
												"suburb": {
													"value": {
														"value": "@variables('_vcurrentRatingItem')[0].Suburb",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "NABERSStaging",
											"type": "LinkedServiceReference"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "insertBuildingDetails",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[usp_InsertLookupPremiseData]",
											"storedProcedureParameters": {
												"batch_id": {
													"value": {
														"value": "@pipeline().parameters.pbatch_id",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"member_premise_id": {
													"value": {
														"value": "@variables('_vcurrentRatingItem').PremiseID",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"name": {
													"value": "",
													"type": "String"
												},
												"postcode": {
													"value": "",
													"type": "String"
												},
												"salesforcebuildingId": {
													"value": {
														"value": "@activity('Lookup Each Building by Name In Salesforce').output.id",
														"type": "Expression"
													},
													"type": "String"
												},
												"state": {
													"value": "",
													"type": "String"
												},
												"streetname": {
													"value": "",
													"type": "String"
												},
												"streetnumber": {
													"value": "",
													"type": "String"
												},
												"suburb": {
													"value": "",
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "NABERSStaging",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						},
						{
							"name": "Set Variable _sf_buildingRecord",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lookup Each Building by Name In Salesforce",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "_vsf_buildingRecord",
								"value": {
									"value": "@activity('Lookup Each Building by Name In Salesforce').output.value",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable _vsf_buildingRecord",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "_vsf_buildingRecord",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pbatch_id": {
				"type": "string",
				"defaultValue": "1"
			}
		},
		"variables": {
			"_defaultCountry": {
				"type": "String",
				"defaultValue": "Australia"
			},
			"_defaultPremiseType": {
				"type": "String",
				"defaultValue": "Shopping Centre"
			},
			"_vnewBuildingsInSF": {
				"type": "Array"
			},
			"_vsf_buildingRecord": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}