factorydata/pipeline/01d Create Assessors In Salesforce.json
{
	"name": "01d Create Assessors In Salesforce",
	"properties": {
		"activities": [
			{
				"name": "createNotFoundAssessors",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Update Batch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_GetAssessorToCreateInSalesForce]",
						"storedProcedureParameters": {
							"batchid": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.pbatch_id",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "SalesforceSink",
						"writeBatchSize": 5000,
						"writeBehavior": "insert",
						"ignoreNullValues": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Phone",
									"type": "String"
								},
								"sink": {
									"name": "Phone",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Email",
									"type": "String"
								},
								"sink": {
									"name": "Email",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "AccreditationExpiryDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "NO_Accreditation_Expiry_Date__c",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "AccreditationNumber",
									"type": "String"
								},
								"sink": {
									"name": "NO_Accreditation_Number__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "JoinedDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "NO_Join_date__c",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "accredition"
								},
								"sink": {
									"name": "NO_Accreditation__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "metropolitan_cleaned"
								},
								"sink": {
									"name": "NO_Metropolitan__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "member_assessor_id"
								},
								"sink": {
									"name": "NO_Id_In_Member__c",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "salesforce_company_id"
								},
								"sink": {
									"name": "AccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "FirstName"
								},
								"sink": {
									"name": "FirstName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "LastName"
								},
								"sink": {
									"name": "LastName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Title"
								},
								"sink": {
									"name": "Salutation",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "cleaned_mailing_streetname"
								},
								"sink": {
									"name": "MailingStreet",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Mailing_Suburb"
								},
								"sink": {
									"name": "MailingCity",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Mailing_State"
								},
								"sink": {
									"name": "MailingState",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Mailing_Postcode"
								},
								"sink": {
									"name": "MailingPostalCode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "mailing_country"
								},
								"sink": {
									"name": "MailingCountry",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Billing_StreetName"
								},
								"sink": {
									"name": "OtherStreet",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Billing_Suburb"
								},
								"sink": {
									"name": "OtherCity",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Billing_State"
								},
								"sink": {
									"name": "OtherState",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Billing_Postcode"
								},
								"sink": {
									"name": "OtherPostalCode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "billing_country"
								},
								"sink": {
									"name": "OtherCountry",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "rating_type"
								},
								"sink": {
									"name": "NO_Rating_Types__c"
								}
							},
							{
								"source": {
									"name": "salesforce_contact_type"
								},
								"sink": {
									"name": "RecordTypeId"
								}
							},
							{
								"source": {
									"name": "salesforce_portal_access"
								},
								"sink": {
									"name": "Portal_Access__c"
								}
							},
							{
								"source": {
									"name": "salesforce_user_active"
								},
								"sink": {
									"name": "NO_User_Status__c"
								}
							},
							{
								"source": {
									"name": "regional_cleaned"
								},
								"sink": {
									"name": "NO_Regional__c"
								}
							},
							{
								"source": {
									"name": "Mobile"
								},
								"sink": {
									"name": "MobilePhone"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "db_stage_assessors",
						"type": "DatasetReference",
						"parameters": {
							"pBatch_Id": "@pipeline().parameters.pbatch_id"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "sf_contacts",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Update Batch",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogBatchDetails]",
					"storedProcedureParameters": {
						"batch_id": {
							"value": {
								"value": "@pipeline().parameters.pbatch_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"process_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"stage": {
							"value": "In Progress",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "NABERSStaging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "usp_GetSalesforce",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "createNotFoundAssessors",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_GetAssessorToCreateInSalesForce]",
						"storedProcedureParameters": {
							"batchid": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.pbatch_id",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "db_members_rating",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "forEachRow",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "waitForFewSecondsToAllowSFToCreateUser",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('_vnewBuildingsInSF')",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Lookup Member by Member Id In Salesforce",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SalesforceSource",
									"query": {
										"value": "Select id from Contact\nwhere NO_Id_In_Member__c = @{item().member_assessor_id}",
										"type": "Expression"
									},
									"readBehavior": "query"
								},
								"dataset": {
									"referenceName": "sf_contacts",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "UpdateNewSalesforceIdForBuilding",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Lookup Member by Member Id In Salesforce",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Lookup Assessor in User by Email Id In Salesforce",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_UpdateNewSalesforceIdForAssessor]",
								"storedProcedureParameters": {
									"batch_id": {
										"value": {
											"value": "@pipeline().parameters.pbatch_id",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"member_assessor_id": {
										"value": {
											"value": "@item().member_assessor_id",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"salesforce_assessor_Id": {
										"value": {
											"value": "@activity('Lookup Member by Member Id In Salesforce').output.firstrow.Id",
											"type": "Expression"
										},
										"type": "String"
									},
									"salesforce_user_id": {
										"value": {
											"value": "@activity('Lookup Assessor in User by Email Id In Salesforce').output.firstrow.Id",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "NABERSStaging",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Lookup Assessor in User by Email Id In Salesforce",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SalesforceSource",
									"query": {
										"value": "Select id from User\nwhere Email like '%@{item().Email}%'",
										"type": "Expression"
									},
									"readBehavior": "query"
								},
								"dataset": {
									"referenceName": "sf_contacts",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						}
					]
				}
			},
			{
				"name": "Set Variable Rating",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "usp_GetSalesforce",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "_vnewBuildingsInSF",
					"value": {
						"value": "@activity('usp_GetSalesforce').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "markAssessorAsUsersToInActive",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "forEachRow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_GetNewAssessorToMarkUserInactiveInSalesForce]",
						"storedProcedureParameters": {
							"batchid": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.pbatch_id",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "SalesforceSink",
						"writeBatchSize": 5000,
						"writeBehavior": "upsert",
						"externalIdFieldName": "Email",
						"ignoreNullValues": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Email",
									"type": "String"
								},
								"sink": {
									"name": "Email",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "IsActive"
								},
								"sink": {
									"name": "IsActive",
									"type": "Boolean"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "db_stage_assessors",
						"type": "DatasetReference",
						"parameters": {
							"pBatch_Id": "@pipeline().parameters.pbatch_id"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "sf_users",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "waitForFewSecondsToAllowSFToCreateUser",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Set Variable Rating",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 6
				}
			}
		],
		"parameters": {
			"pbatch_id": {
				"type": "int",
				"defaultValue": 1
			}
		},
		"variables": {
			"_defaultPremiseType": {
				"type": "String",
				"defaultValue": "Shopping Centre"
			},
			"_vnewBuildingsInSF": {
				"type": "Array"
			},
			"_vsf_buildingRecord": {
				"type": "String"
			},
			"_vnewBuildingInSF": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}