factorydata/pipeline/02 Transform Ratings.json
{
	"name": "02 Transform Ratings",
	"properties": {
		"activities": [
			{
				"name": "01_Transform",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Update Batch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "01_Transform_Rating",
						"type": "DataFlowReference",
						"parameters": {
							"pbatch_id": {
								"value": "@pipeline().parameters.pbatch_id",
								"type": "Expression"
							},
							"vDefaultComplete": "'Complete'",
							"vYes": "'Yes'",
							"vNo": "'No'"
						},
						"datasetParameters": {
							"getLookupSalesforceBuildings": {
								"pbatch_id": {
									"value": "@pipeline().parameters.pbatch_id",
									"type": "Expression"
								}
							},
							"getLookupSalesforceAssessors": {
								"pbatch_id": {
									"value": "@pipeline().parameters.pbatch_id",
									"type": "Expression"
								}
							},
							"getLookupSalesforceTechOfficer": {
								"pbatch_id": 1
							},
							"getLookupSalesforceCompany": {
								"pbatch_id": 1
							},
							"getLookupSalesforceCustomers": {
								"pbatch_id": 1
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					}
				}
			},
			{
				"name": "Update Batch",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogBatchDetails]",
					"storedProcedureParameters": {
						"batch_id": {
							"value": {
								"value": "@pipeline().parameters.pbatch_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"process_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"stage": {
							"value": "In Progress",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "NABERSStaging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "usp_GetSalesforce",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "01_Transform",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[usp_GetRatingsToCreateInSalesforce]",
						"storedProcedureParameters": {
							"batchid": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.pbatch_id",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "db_members_rating",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "forEachRow",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "usp_GetSalesforce",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('usp_GetSalesforce').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Lookup Each Building by Name In Salesforce",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SalesforceSource",
									"query": {
										"value": "Select id from NO_Rating__c \nwhere NO_Member_Rating_Id__c= @{item().source_rating_id}",
										"type": "Expression"
									},
									"readBehavior": "query"
								},
								"dataset": {
									"referenceName": "sf_Buildings",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "UpdateNewSalesforceIdForBuilding",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Lookup Each Building by Name In Salesforce",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[usp_UpdateNewSalesforceIdForRating]",
								"storedProcedureParameters": {
									"batch_id": {
										"value": {
											"value": "@pipeline().parameters.pbatch_id",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"member_rating_id": {
										"value": {
											"value": "@item().source_rating_id",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"salesforceratingId": {
										"value": {
											"value": "@activity('Lookup Each Building by Name In Salesforce').output.firstrow.Id",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "NABERSStaging",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pbatch_id": {
				"type": "int",
				"defaultValue": 1
			}
		},
		"annotations": []
	}
}