factorydata/pipeline/03 Junction Building Rating.json
{
	"name": "03 Junction Building Rating",
	"properties": {
		"activities": [
			{
				"name": "Update Batch",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogBatchDetails]",
					"storedProcedureParameters": {
						"batch_id": {
							"value": {
								"value": "@pipeline().parameters.pbatch_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"process_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"stage": {
							"value": "In Progress",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "NABERSStaging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "usp_GetRatings",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Update Batch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_GetRating]",
						"storedProcedureParameters": {
							"batchid": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.pbatch_id",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "db_members_rating",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "forEachRow",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "usp_GetRatings",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('usp_GetRatings').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Lookup Each Rating by Member Rating Id In Salesforce",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SalesforceSource",
									"query": {
										"value": "Select id from NO_Rating__c \nwhere NO_Member_Rating_Id__c = @{item().RatingHeaderID}",
										"type": "Expression"
									},
									"readBehavior": "query"
								},
								"dataset": {
									"referenceName": "sf_Ratings",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "if Rating was successfully created",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Lookup Each Rating by Member Rating Id In Salesforce",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(string(activity('Lookup Each Rating by Member Rating Id In Salesforce').output), 'firstRow')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Insert Anomaly",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[usp_InsertDataSyncAnomalies]",
											"storedProcedureParameters": {
												"batch_id": {
													"value": {
														"value": "@pipeline().parameters.pbatch_id",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"process_name": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"anomaly_desc": {
													"value": {
														"value": "No Rating found for this Rating header Id.",
														"type": "Expression"
													},
													"type": "String"
												},
												"anomaly_type": {
													"value": "Error",
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "NABERSStaging",
											"type": "LinkedServiceReference"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "UpdateNewSalesforceIdForRating",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[usp_UpdateNewSalesforceIdForRating]",
											"storedProcedureParameters": {
												"batch_id": {
													"value": {
														"value": "@pipeline().parameters.pbatch_id",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"member_rating_id": {
													"value": {
														"value": "@item().ratingheaderid",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"salesforceratingId": {
													"value": {
														"value": "@variables('_vsf_buildingRecord')[0].Id",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "NABERSStaging",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "copyJunctionBuildingRating",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"queryTimeout": "02:00:00"
											},
											"sink": {
												"type": "SalesforceSink",
												"writeBatchSize": 5000,
												"writeBehavior": "insert"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "sf_rating_id",
															"physicalType": "varchar"
														},
														"sink": {
															"name": "Rating__c"
														}
													},
													{
														"source": {
															"name": "sf_building_id",
															"physicalType": "varchar"
														},
														"sink": {
															"name": "Building__c"
														}
													}
												],
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "db_transformed_ratings",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "sf_buiding_rating",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "copyJunctionRatingContact",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderStoredProcedureName": "[dbo].[usp_GetRatingCustomerContactForJunctionInSalesforce]",
												"storedProcedureParameters": {
													"batch_id": {
														"type": "Int32",
														"value": {
															"value": "@pipeline().parameters.pbatch_id",
															"type": "Expression"
														}
													},
													"source_rating_id": {
														"type": "Int32",
														"value": {
															"value": "@item().RatingHeaderId",
															"type": "Expression"
														}
													}
												},
												"queryTimeout": "02:00:00"
											},
											"sink": {
												"type": "SalesforceSink",
												"writeBatchSize": 5000,
												"writeBehavior": "insert"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "sf_rating_id",
															"physicalType": "varchar"
														},
														"sink": {
															"name": "Rating__c"
														}
													},
													{
														"source": {
															"name": "sf_customercontact_id",
															"physicalType": "varchar"
														},
														"sink": {
															"name": "Contact__c"
														}
													}
												],
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "db_transformed_ratings",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "sf_rating_contact",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pbatch_id": {
				"type": "int",
				"defaultValue": 1
			}
		},
		"variables": {
			"_vnewBuildingsInSF": {
				"type": "Array"
			},
			"_vsf_buildingRecord": {
				"type": "Array"
			},
			"_vnewBuildingInSF": {
				"type": "String"
			}
		},
		"annotations": []
	}
}