factorydata/pipeline/03 Junction Building Rating.json
{
	"name": "03 Junction Building Rating",
	"properties": {
		"activities": [
			{
				"name": "Update Batch",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogBatchDetails]",
					"storedProcedureParameters": {
						"batch_id": {
							"value": {
								"value": "@pipeline().parameters.pbatch_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"process_name": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"stage": {
							"value": "In Progress",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "NABERSStaging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "usp_GetSalesforce",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Update Batch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_GetRating]",
						"storedProcedureParameters": {
							"batchid": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.pbatch_id",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "db_members_rating",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "forEachRow",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set Variable Rating",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('_vnewBuildingsInSF')",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Lookup Each Rating by Member Rating Id In Salesforce",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Set variable _vsf_buildingRecord",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SalesforceSource",
									"query": {
										"value": "Select id from NO_Rating__c \nwhere NO_Member_Rating_Id__c = '@{variables('_vnewBuildingInSF')[0].RatingHeaderID}'",
										"type": "Expression"
									},
									"readBehavior": "query"
								},
								"dataset": {
									"referenceName": "sf_Ratings",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Set Variable _sf_buildingRecord",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lookup Each Rating by Member Rating Id In Salesforce",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "_vsf_buildingRecord",
								"value": {
									"value": "@activity('Lookup Each Rating by Member Rating Id In Salesforce').output.value",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable _vsf_buildingRecord",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "_vnewBuildingInSF",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "UpdateNewSalesforceIdForRating",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Set Variable _sf_buildingRecord",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_UpdateNewSalesforceIdForRating]",
								"storedProcedureParameters": {
									"batch_id": {
										"value": {
											"value": "@pipeline().parameters.pbatch_id",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"member_rating_id": {
										"value": {
											"value": "@variables('_vnewBuildingInSF')[0].ratingheaderid",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"salesforceratingId": {
										"value": {
											"value": "@variables('_vsf_buildingRecord').output.id",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "NABERSStaging",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "copyJunctionBuildingRating",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "UpdateNewSalesforceIdForRating",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "SalesforceSink",
									"writeBatchSize": 5000,
									"writeBehavior": "insert"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "sf_rating_id",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "Rating__c",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "sf_building_id",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "Building__c",
												"type": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "db_transformed_ratings",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "sf_buiding_rating",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Set Variable Rating",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "usp_GetSalesforce",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "_vnewBuildingsInSF",
					"value": {
						"value": "@activity('usp_GetSalesforce').Output.value",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"pbatch_id": {
				"type": "int",
				"defaultValue": 1
			}
		},
		"variables": {
			"_vnewBuildingsInSF": {
				"type": "String"
			},
			"_vsf_buildingRecord": {
				"type": "String"
			},
			"_vnewBuildingInSF": {
				"type": "String"
			}
		},
		"annotations": []
	}
}