factorydata/pipeline/04 Consumption.json
{
	"name": "04 Consumption",
	"properties": {
		"activities": [
			{
				"name": "Try Consumption",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Update Batch_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_FormulateConsumption]",
					"storedProcedureParameters": {
						"batch_id": {
							"value": {
								"value": "@pipeline().parameters.pBatch_Id",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "NABERSStaging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Update Batch",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogBatchDetails]",
					"storedProcedureParameters": {
						"batch_id": {
							"value": {
								"value": "@pipeline().parameters.pbatch_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"process_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"stage": {
							"value": "In Progress",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "NABERSStaging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "copyMeterData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Try Consumption",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "usp_GetRatingsMeterToCreateInSalesforce",
						"storedProcedureParameters": {
							"batchid": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.pBatch_Id",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "SalesforceSink",
						"writeBatchSize": 5000,
						"writeBehavior": "insert"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "sf_rating_id",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Rating__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "unique_meter_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "NO_DS_Meter_ID__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Supplier",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Supplier_1_Name__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "AccountNumber",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Supplier_1_Account_Number__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Nmi",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NMI__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Coverage",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Description_of_Coverage__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Start12MonthBillPeriod",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Billing_Start_Date__c",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "End12MonthBillPeriod",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Billing_End_Date__c",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "MeterType",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Meter_Type__c",
									"type": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "db_transformed_ratings",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sf_meters",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "copyConsumptionData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "copy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_GetRatingBuildingForJunctionInSalesforce]",
						"storedProcedureParameters": {
							"batch_id": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.pbatch_id",
									"type": "Expression"
								}
							},
							"source_rating_id": {
								"type": "Int32",
								"value": {
									"value": "@item().RatingHeaderId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "SalesforceSink",
						"writeBatchSize": 5000,
						"writeBehavior": "insert"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "sf_rating_id",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Rating__c"
								}
							},
							{
								"source": {
									"name": "sf_building_id",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Building__c"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "db_transformed_ratings",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sf_buiding_rating",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "copy",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "copyMeterData",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "getMeterIds",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": {
							"value": "@Select Id from NO_Metering_Device__c where NO_DS_Meter_ID__c In (activity('getMeterIds').output.value.firstRow.meter_ids)",
							"type": "Expression"
						},
						"readBehavior": "query"
					},
					"sink": {
						"type": "SalesforceSink",
						"writeBatchSize": 5000,
						"writeBehavior": "insert"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "sf_rating_id",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Rating__c"
								}
							},
							{
								"source": {
									"name": "sf_building_id",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Building__c"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sf_meters",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sf_buiding_rating",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "getMeterIds",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Update Batch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_GetMeterIds]",
						"storedProcedureParameters": {
							"batch_id": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.pBatch_Id",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "db_energy_meter",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Update Batch_copy1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_LogBatchDetails]",
					"storedProcedureParameters": {
						"batch_id": {
							"value": {
								"value": "@pipeline().parameters.pbatch_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"process_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"stage": {
							"value": "In Progress",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "NABERSStaging",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"pBatch_Id": {
				"type": "int",
				"defaultValue": 1
			}
		},
		"annotations": []
	}
}