factorydata/pipeline/MemberSource.json
{
	"name": "MemberSource",
	"properties": {
		"activities": [
			{
				"name": "dataFromMembersStaging",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_GetRatingHeader]",
						"storedProcedureParameters": {
							"batchid": {
								"type": "Int32",
								"value": null
							}
						},
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "RatingHeaderID",
									"type": "Int32"
								},
								"sink": {
									"name": "source_rating_id"
								}
							},
							{
								"source": {
									"name": "PremiseType",
									"type": "String"
								},
								"sink": {
									"name": "building_type"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "RatingHeader",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ToSFRating",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "forEachRow",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "dataFromMembersStaging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"isSequential": false,
					"activities": [
						{
							"name": "forEachBuildingInMembers",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SalesforceSource",
									"query": {
										"value": "Select \nid \nfrom NO_Building__c\nwhere \nIsDeleted = false\nand Name = '@item().PremiseName'",
										"type": "Expression"
									},
									"readBehavior": "query"
								},
								"dataset": {
									"referenceName": "sfBuildings",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "ifBuildingExists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "forEachBuildingInMembers",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": []
						}
					]
				}
			}
		],
		"annotations": []
	}
}